html,
body,
.layout {
  height: 100vh;
  background: #fff;
  padding: 1em;
}

.messages {
  height: 440px;
  overflow-y: scroll;
}

.message_form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

.own_message {
  border-left: 2px solid blue;
  padding-left: 8px;
  color: blue !important;
}

.message_image {
  padding: 1em;
}

.progress_bar {
  margin: 0.3em 0 0 0 !important;
}

.menu {
  padding-bottom: 2em;
}
